# This file serves as an example of what your .env file should look like.
# Replace the variables defined here with those applicable on your own system.


WRDS_USERNAME="YOUR_WRDS_USERNAME"
WRDS_PASSWORD="YOUR_WRDS_PASSWORD"
START_DATE = "START_DATE"
END_DATE = "END_DATE"

